block variables
doctype html 
html
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    title #{title} | Tanner API Webpage
    link(rel="stylesheet", type="text/css", href="../public/css/styles.css")
    script(src='../public/js/map.js')
    script(src='../public/js/weather.js' async='')
  body
    header#header
      div.header-content
        h2#siteName  
          a(href="/") 2022 F1 Grand Prix Data Center
    .wrapper 
     .animationText
       a(href="/")  2022 F1 Grand Prix Data Center. 2022 F1 Grand Prix Data Center. 2022 F1 Grand Prix Data Center. 2022 F1 Grand Prix Data Center. 2022 F1 Grand Prix Data Center.
       a(href="/")  2022 F1 Grand Prix Data Center. 2022 F1 Grand Prix Data Center. 2022 F1 Grand Prix Data Center. 2022 F1 Grand Prix Data Center. 2022 F1 Grand Prix Data Center.
    main#main
    block layout-content
    footer#footer 
      p &copy; Copyright Qiyuan Liu, 2022. 